<sui-modal
  [mustScroll]="true" 
  [isClosable]="true"
  [transitionDuration]="0"
  [size]="'normal'"
  class="sb-modal"
  appBodyScroll
  (dismissed)="modal.deny();closeModal();"
   #modal>

  <!--Header-->
  <div class="sb-modal-header">
    Upload SCROM Complaint Content
  </div>
  <!--/Header-->

  <!--Content-->
  <div class="sb-modal-content">
    <div class="ui grid stackable middle aligned">
      <!-- <div class="six wide column">
          <img
            class="ui image"
            src="{{'assets/images/Dialcode.png' | cdnprefixurl}}"
            alt="Dial code image"
            >
      </div> -->
      <div class="twelve wide column">
        <p class="mb-10">
         Content Title
        </p>
        <div class="ui fluid input">
          <input 
            name="search" 
            #dialCodeVal 
            placeholder="{{resourceService.frmelmnts?.lbl?.enterDialCode}}" 
            title="{{resourceService.frmelmnts?.lbl?.enterDialCode}}"
            type="text">
          <!-- <i class="search icon"></i> -->
        </div>
        <div>

        </div>
        <div class="ui message">
          <ul class="list">
            <li>File accepted - html zip</li>
            <li>Max file size - 50 Mb</li>
          </ul>
          <p>By uploading content, you confirm that you are publishing it under a Creative Commons license that is compatible with the copyright license of the original work and are giving appropriate credit to the original author of the content.</p>
        </div>
        <!-- <p class="small mt-15">
          {{resourceService.frmelmnts?.lbl?.dialCodeDescription}}
        </p> -->
      </div>
    </div>
  </div>
  <!--/Content-->

  <!--Actions-->
  <div class="sb-modal-actions">
    <button 
      class="sb-btn sb-btn-normal sb-btn-primary" 
      appTelemetryInteract [telemetryInteractEdata]="setsubmitDialCodeInteractEdata(dialCodeVal.value)"
      (click)="onSubmit(dialCodeVal.value)" 
      autofocus>
      {{resourceService.frmelmnts?.btn?.submit}}
    </button>
  </div>
  <!--/Actions-->

</sui-modal>
